:root {
  --red: #de1616;
  --black: #191919;
}

/*
  =====================================
  Main
  =====================================
*/

.main-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    '. header .'
    '. main .'
    '. footer .';
  /* grid-template-rows: 0.3fr 2.4fr 0.3fr; */
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  gap: 3rem 0.125rem;
}

/*
  =====================================
  Header
  =====================================
*/

.header {
  display: flex;
  grid-area: header;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  color: #191919;
}

@media (max-width: 665px) {
  .header {
    align-items: center;
    margin-top: 3rem;
  }
}

.logo {
  margin: 0;
  padding: 0;
}

.logo-span {
  color: white;
  background-color: var(--red);
  padding: 0.375rem 0.75rem;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  list-style: none;
  padding-left: 0;
}

.selected {
  border-bottom: 3px solid var(--red);
  font-weight: bold;
}

.list {
  margin-left: 2.5rem;
  cursor: pointer;
  gap: 1rem;
}

.list-1 {
  margin-left: 0;
}

.list:hover {
  font-weight: bold;
  color: var(--red);
}

@media (max-width: 665px) {
  .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .list {
    margin-left: 0;
  }

  .list-1,
  .list-2 {
    margin-bottom: 0.25rem;
  }
}

/*
  =====================================
  Section
  =====================================
*/

.food-container {
  display: grid;
  grid-area: main;
  /* grid-auto-flow: row; */
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  margin: 1rem 0;
  gap: 1rem 1rem;
}

@media (max-width: 1000px) {
  .food-container {
    grid-template-areas:
      '. .'
      '. .'
      '. .';
  }
}

@media (max-width: 665px) {
  .food-container {
    grid-template-areas:
      '.'
      '.'
      '.';
  }
}

/* Card Foods */
.card-food {
  display: grid;
  grid-template-areas:
    'card-img card-img card-img'
    'card-title card-title card-title'
    'btn-recipe . btn-liked';
  grid-template-columns: 1fr 1.4fr 0.6fr;
  grid-template-rows: 2fr 0.4fr 0.2fr;
  border: #dbdbdb 1px solid;
  border-radius: 0.5rem;
  gap: 0;
  /* background-color: rgb(250, 250, 250); */
}

.card-img {
  box-sizing: border-box;
  grid-area: card-img;
  overflow: hidden;
}

.img-food {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.card-title {
  display: flex;
  grid-area: card-title;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.2rem;
}

.btn-recipe {
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0.75rem 1rem;
  /* padding: 0.1rem 0.4rem; */
  border: none;
  border-radius: 0.25rem;
  background: var(--red);
  /* background: rgb(238, 0, 0); */
  color: white;
  /* font-weight: bold; */
  cursor: pointer;
}

.btn-liked {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 0.1rem 0.125rem;
  border: none;
  background: white;
  color: var(--red);
  font-size: 0.8em;
  /* font-weight: bold; */
  cursor: pointer;
  /* background-color: rgb(252, 252, 252); */
}

.no-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hidden {
  display: none !important;
}

/* Popup */
.popuptext {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 8px 0;
  border-radius: 6px;
  background-color: #f6e0c0;
  color: #333;
}

.popuptext button {
  align-self: flex-end;
  margin: 10px 20px;
  padding: 5px;
  border: none;
  background-color: #f6e0c0;
  color: #333;
  font-size: xx-large;
  font-weight: bold;
  cursor: pointer;
}

.show {
  animation: fadeIn 1s;
}

.recipe {
  height: 140px;
  overflow-y: scroll;
}

.mesgFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mesgContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mesgContent input,
.mesgContent textarea {
  margin-bottom: 10px;
  border-radius: 6px;
  color: #333;
  font-size: medium;
}

.mesgContent input[type='button'] {
  padding: 5px;
  border: 1px solid #333;
  background-color: #f6e0c0;
  font-weight: bold;
}

textarea:focus,
input:focus {
  outline: none;
}

.mesgContent div {
  width: 100%;
}

.aligCener {
  align-self: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3d4a6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*
  =====================================
  Footer
  =====================================
*/

.footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
}

/*  */
/*  */
/*  */

h5,
h4 {
  margin: 1rem;
  padding: 0;
  font-size: 1.125rem;
}

h2 {
  text-align: center;
}

p {
  margin-right: 20px;
  margin-left: 20px;
}
